{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

  {#  <h1>{% translate "Sign In" %}</h1>#}
  {##}
  {#{% get_providers as socialaccount_providers %}#}
  {##}
  {#{% if socialaccount_providers %}#}
  {#  <p>#}
  {#    {% translate "Please sign in with one of your existing third party accounts:" %}#}
  {#    {% if ACCOUNT_ALLOW_REGISTRATION %}#}
  {#      {% blocktranslate trimmed %}#}
  {#        Or, <a href="{{ signup_url }}">sign up</a>#}
  {#        for a {{ site_name }} account and sign in below:#}
  {#      {% endblocktranslate %}#}
  {#    {% endif %}#}
  {#  </p>#}
  {##}
  {#  <div class="socialaccount_ballot">#}
  {##}
  {#    <ul class="socialaccount_providers">#}
  {#      {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
  {#    </ul>#}
  {##}
  {#    <div class="login-or">{% translate "or" %}</div>#}
  {##}
  {#  </div>#}
  {##}
  {#  {% include "socialaccount/snippets/login_extra.html" %}#}
  {##}
  {#{% else %}#}
  {#  {% if ACCOUNT_ALLOW_REGISTRATION %}#}
  {#    <p>#}
  {#      {% blocktranslate trimmed %}#}
  {#        If you have not created an account yet, then please#}
  {#        <a href="{{ signup_url }}">sign up</a> first.#}
  {#      {% endblocktranslate %}#}
  {#    </p>#}
  {#  {% endif %}#}
  {#{% endif %}#}

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login</h1>
        <p class="py-6">When you are logged in you are able to get custom bulk downloads via .csv.</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <a class="button secondaryAction"
               href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
            <div class="form-control mt-6">
              <button class="btn btn-primary" type="submit">{% translate "Sign In" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
