{% load static %}
<li><a href="{% url 'data:index' %}">Data</a></li>
<li><a href="{% url 'docs' %}">Docs</a></li>
<li><a href="{% url 'data:map' %}">Map</a></li>
<li><a href="{% url 'tutorials:getting_started' %}">Tutorials</a></li>
<li>
  <div>
    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/>
    </svg>
    <a href="{% url 'tutorials:getting_started' %}">Getting Started</a>
  </div>
</li>
<li>
  <div>
    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/>
    </svg>
    <a href="{% url 'tutorials:predicting_age' %}">Predicting Age</a>
  </div>
</li>

<li><a href="{% url 'paper' %}">Paper</a></li>
<li><a href="https://github.com/ai4up/eubucco" target="_blank" rel="noopener noreferrer">
  <div class="w-6 rounded hidden dark:block"><img src="{% static 'images/white_github.png' %}"/></div>
  <div class="w-6 rounded block dark:hidden"><img src="{% static 'images/dark_github.png' %}"/></div>
</a></li>
