{% extends "data/download_base.html" %}

{% block version_specific_controls %}
<div class="flex flex-col items-center gap-4">
  <select id="versionSelect" class="select select-primary w-28">
    <option value="v0.2">v0.2</option>
    <option value="v0.1" selected>v0.1</option>
  </select>

  <p class="text-gray-500 text-sm mt-2">
    Version v0.1 provides only country-level downloads.
  </p>
</div>
{% endblock %}

{% block version_specific_table %}
<div class="overflow-x-auto max-h-96 mt-6">
  <table id="downloadsTable" class="table table-compact table-zebra w-full rounded-box text-sm">
    <thead>
      <tr><th>Country</th><th>GPKG</th><th>CSV</th></tr>
    </thead>
    <tbody>
        {% for f in building_files %}
        <tr>
            <td>{{ f.region|capfirst }}</td>
            <td>
            {% if f.gpkg_link %}
                <a href="{{ f.gpkg_link }}" class="link">
                Download ({{ f.gpkg_size|floatformat:1 }} MB)
                </a>
            {% else %}—{% endif %}
            </td>
            <td>
            {% if f.csv_link %}
                <a href="{{ f.csv_link }}" class="link">
                Download ({{ f.csv_size|floatformat:1 }} MB)
                </a>
            {% else %}—{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
