{% extends "base.html" %}
{% load static %}

{#Update and include https://github.com/maplibre/martin#using-with-maplibre !!!#}

{% block content %}
  <html>
  <head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <script src="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

      #map {
        position: absolute;
        top: 60px;
        bottom: 64px;
        left: 0;
        right: 0;
      }

      .map-popup, .mapboxgl-popup-content, .maplibregl-popup-content, .maplibregl-popup-tip, .mapboxgl-popup-tip {
        background-color: hsl(var(--n));
      }

      #meta {
        z-index: 2;
        color: hsl(var(--bc));
        background: hsl(var(--b1));
        position: absolute;
        top: -10;
        left: 50%;
        padding: 10 20;
        margin: 0;
        width: min-content;
      }

      #meta h1 {
        margin: 0;
      }

      #meta .properties {
        font-size: 90%;
        width: auto;
      }
    </style>
  </head>
  <body>

  {#  <div id="meta">#}
  {#    <h1>public.data_building</h1>#}
  {##}
  {##}
  {#    <hr/>#}
  {#    <p class="properties">age city_id country_id height id id_source region_id type type_source </p>#}
  {##}
  {#  </div>#}

  <div id="map">
    {#    <div id="meta" class="tabs tabs-boxed">#}
    {#      <a class="tab">Off</a>#}
    {#      <a class="tab tab-active">Height</a>#}
    {#      <a class="tab">Type</a>#}
    {#    </div>#}
    <div class="btm-nav z-1">
      <button id="switchChoroplethOff">
        <div class="text-xl">Off</div>
      </button>
      <button id="switchChoroplethHeight" class="active">
        <div class="text-xl">Height</div>
      </button>
      <button id="switchChoroplethAge">
        <div class="text-xl">Age</div>
      </button>
      <button id="switchChoroplethType">
        <div class="text-xl">Type</div>
      </button>
    </div>
  </div>


  <div id="toast" class="toast toast-center toast-top w-full flex pt-16">
    <div class="alert alert-info justify-center">
      <div class="justify-center">
        <p class="justify-center">Here you can explore the data. Depending on your Zoom level you will see the
          Countries, Region, Cities or Buildings!</p>
      </div>
    </div>
  </div>

  <script>

    var map;
    var mapcolor = "white";
    let currentLayer = null;
    let choroplethChoice = 'height'

    {# hide toast after time#}
    setTimeout(function () {
      document.getElementById("toast").remove();
    }, 10_000);

    $.getJSON("{{ tile_url }}public.data_building.json", function (layer) {

      var mapConfig = {
        'container': 'map',


        'bounds': layer['bounds'],
        'hash': true,
        'style': {
          'version': 8,
          'sources': {
            'open-street': {
              'type': 'raster',
              'tiles': [
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png"
              ]
            },
            'carto-dark': {
              'type': 'raster',
              'tiles': [
                "https://a.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                "https://b.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                "https://c.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                "https://d.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png"
              ]
            },
            'carto-light': {
              'type': 'raster',
              'tiles': [
                "https://a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                "https://b.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                "https://c.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                "https://d.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png"
              ]
            },
            'wikimedia': {
              'type': 'raster',
              'tiles': [
                "https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png"
              ]
            }
          },
          'layers': [{
            'id': 'carto-dark-layer',
            'source': 'carto-dark',


            'type': 'raster',
            'minzoom': 0,
            'maxzoom': 22
          }]
        }
      };

      var paints = {
        "circle": {
          "circle-color": mapcolor,
          "circle-radius": 3
        },
        "line": {
          "line-color": mapcolor,
          "line-width": 0.5
        },
        "fill": {
          "fill-color": mapcolor,
          "fill-outline-color": mapcolor,
          "fill-opacity": 0.5
        }
      };

      var painttypes = {
        "Point": "circle",
        "MultiPoint": "circle",
        "LineString": "line",
        "MultiLineString": "line",
        "Polygon": "fill",
        "MultiPolygon": "fill",
      };

      function layerSource(tileurl) {
        return {
          "type": "vector",
          "tiles": [tileurl],
          "minzoom": layer["minzoom"],
          "maxzoom": layer["maxzoom"]
        }
      };

      function layerId(id, gtype, paint) {
        console.log(id + "." + gtype + "." + paint)

        return id + "." + gtype + "." + paint;
      }

      const heightChoropleth = {
        'fill-color': [
          'interpolate',
          ['linear'],
          ['get', 'height'],
          0,
          '#5e4ea6',
          10,
          '#2f89be',
          20,
          '#62c3a5',
          30,
          '#addda3',
          40,
          '#e6f697',
          50,
          '#ffffba',
          75,
          '#fce08c',
          100,
          '#f46d45',
          250,
          '#d3404a',
          500,
          '#a00042'
        ],
        'fill-opacity': 0.75,
      }

      const ageChoropleth = {
        'fill-color': [
          'interpolate',
          ['linear'],
          ['get', 'age'],
          0,
          '#5e4ea6',
          1600,
          '#2f89be',
          1700,
          '#62c3a5',
          1850,
          '#addda3',
          1950,
          '#e6f697',
          1980,
          '#ffffba',
          2000,
          '#fce08c',
          2010,
          '#f46d45',
          2020,
          '#d3404a',
          2030,
          '#a00042'
        ],
        'fill-opacity': 0.75,
      }

      const typeChoropleth = {
        'fill-color': ['match', ['get', 'type'], // get the property
          'RE', 'green',              // if 'GP' then yellow
          'NR', 'red',               // if 'XX' then black
          'white'],                     // white otherwise
        'fill-opacity': 0.75,
      }

      function layerConfig(id, gtype, paint) {
        config = {
          "id": layerId(id, gtype, paint),
          "source": id,
          "source-layer": id,
          "type": paint,
          {#'fallback': '#ffffff',#}
          "filter": ["match", ["geometry-type"], [gtype, "Multi" + gtype], true, false],
        }
        if (id === 'public.data_building' && gtype === 'Polygon' && paint === 'fill') {
          if (choroplethChoice === 'height') {
            config['paint'] = heightChoropleth
          } else if (choroplethChoice === 'type') {
            config['paint'] = typeChoropleth
          } else if (choroplethChoice === 'age') {
            config['paint'] = ageChoropleth
          } else {
            config["paint"] = paints[paint]
          }
        } else {
          config["paint"] = paints[paint]
        }
        return config
      };

      function roundIfNeeded(value) {
        if (typeof value == 'number') {
          return value.toFixed(2)
        }
        return value
      }

      function typeEnumToString(value) {
        if (value === "RE") {
          return 'Residential'
        } else if (value === "NR") {
          return 'Non-residential'
        } else {
          return 'Unknown'
        }
      }

      function resetLayers() {
        map.removeLayer('public.data_building.Point.circle')
        map.removeLayer('public.data_building.Polygon.fill')
        map.removeLayer('public.data_building.LineString.line')
        map.removeLayer('public.data_building.Polygon.line')
        addOneLayer('public.data_building', 'Polygon')
      }

      document.getElementById("switchChoroplethOff").onclick = function () {
        document.getElementById("switchChoroplethOff").classList.add('active')
        document.getElementById("switchChoroplethHeight").classList.remove('active')
        document.getElementById("switchChoroplethType").classList.remove('active')
        document.getElementById("switchChoroplethAge").classList.remove('active')
        choroplethChoice = 'off'
        resetLayers()
      }

      document.getElementById("switchChoroplethHeight").onclick = function () {
        document.getElementById("switchChoroplethHeight").classList.add('active')
        document.getElementById("switchChoroplethOff").classList.remove('active')
        document.getElementById("switchChoroplethType").classList.remove('active')
        document.getElementById("switchChoroplethAge").classList.remove('active')
        choroplethChoice = 'height'
        resetLayers()
      }

      document.getElementById("switchChoroplethAge").onclick = function () {
        document.getElementById("switchChoroplethAge").classList.add('active')
        document.getElementById("switchChoroplethOff").classList.remove('active')
        document.getElementById("switchChoroplethType").classList.remove('active')
        document.getElementById("switchChoroplethHeight").classList.remove('active')
        choroplethChoice = 'age'
        resetLayers()
      }


      document.getElementById("switchChoroplethType").onclick = function () {
        document.getElementById("switchChoroplethType").classList.add('active')
        document.getElementById("switchChoroplethHeight").classList.remove('active')
        document.getElementById("switchChoroplethOff").classList.remove('active')
        document.getElementById("switchChoroplethAge").classList.remove('active')
        choroplethChoice = 'type'
        resetLayers()
      }

      function featureHtml(f) {
        var p = f.properties;
        var h = "<p>";
        for (var k in p) {
          if (k === 'type') {
            value = typeEnumToString(p[k])
          } else {
            value = roundIfNeeded(p[k])
          }

          h += "<b>" + k + ":</b> " + value + "<br/>"
        }
        h += "</p>";
        return h
      }

      function addLayerBehavior(id) {
        map.on('click', id, function (e) {
          new maplibregl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(featureHtml(e.features[0]))
            .addTo(map);
        });


        map.on('mouseenter', id, function () {
          map.getCanvas().style.cursor = 'pointer';
        });


        map.on('mouseleave', id, function () {
          map.getCanvas().style.cursor = '';
        });
      }

      function addOneLayer(id, gtypebasic) {
        console.log(id, gtypebasic)
        map.addLayer(layerConfig(id, gtypebasic, painttypes[gtypebasic]));
        addLayerBehavior(layerId(id, gtypebasic, painttypes[gtypebasic]));
        if (gtypebasic == "Polygon") {
          map.addLayer(layerConfig(id, gtypebasic, "line"));
        }
      }

      function addLayers(id, gtype, url) {
        map.addSource(id, layerSource(url));
        var gtypebasic = gtype.replace("Multi", "");
        var gtypes = ["Point", "LineString", "Polygon"];

        if (gtypes.includes(gtypebasic)) {
          addOneLayer(id, gtypebasic);
        } else {
          gtypes.forEach(gt => {
            addOneLayer(id, gt);
          });
        }

      }


      map = new maplibregl.Map(mapConfig);
      map.addControl(new maplibregl.NavigationControl());
      map.on("load", function () {

        {#queryParam = new URLSearchParams(window.location.search).toString();#}
        {#if (queryParam.length <= 1) {#}
        {#  queryParam = "";}#}
        queryParam = 'properties=name'
        queryParamBuildings = 'properties=id,id_source,type,type_source,height,age'

        tileUrl = layer["tileurl"] + "?" + queryParamBuildings;

        addLayers(layer["id"], layer["geometrytype"], tileUrl);
        onZoom(true)

        $.getJSON("{{ tile_url }}public.data_city.json", function (cityLayer) {
          cityTileUrl = cityLayer["tileurl"] + "?" + queryParam;
          addLayers(cityLayer["id"], cityLayer["geometrytype"], cityTileUrl);
          onZoom(true)
        })

        $.getJSON("{{ tile_url }}public.data_region.json", function (regionLayer) {
          cityTileUrl = regionLayer["tileurl"] + "?" + queryParam;
          addLayers(regionLayer["id"], regionLayer["geometrytype"], cityTileUrl);
          onZoom(true)
        })

        $.getJSON("{{ tile_url }}public.data_country_view.json", function (countryLayer) {
          cityTileUrl = countryLayer["tileurl"] + "?" + queryParam;
          addLayers(countryLayer["id"], countryLayer["geometrytype"], cityTileUrl);
          onZoom(true)
        })
      });


      function enableLayer(source) {
        for (const layer of map.getStyle().layers) {
          if (layer['id'].includes('public.data')) {
            if (layer['source'] === source) {
              map.setLayoutProperty(layer['id'], 'visibility', 'visible')
            } else {
              map.setLayoutProperty(layer['id'], 'visibility', 'none')
            }
          }
        }
      }

      function onZoom(force = false) {
        const currentZoom = map.getZoom();
        if (force) {
          currentLayer = null
        }

        if (currentZoom > 12) {
          if (currentLayer !== "public.data_building") {
            enableLayer('public.data_building')
            $('.mapboxgl-popup').remove();
            currentLayer = "public.data_building"
          }


        } else if (currentZoom > 8) {
          if (currentLayer !== "public.data_city") {
            enableLayer('public.data_city')
            $('.mapboxgl-popup').remove();
            currentLayer = "public.data_city"
          }


        } else if (currentZoom > 6) {
          if (currentLayer !== "public.data_region") {
            enableLayer('public.data_region')
            $('.mapboxgl-popup').remove();
            currentLayer = "public.data_region"
          }


        } else {
          if (currentLayer !== "public.data_country_view") {
            enableLayer('public.data_country_view')
            $('.mapboxgl-popup').remove();
            currentLayer = "public.data_country_view"
          }
        }
      }


      map.on('zoom', () => {
        onZoom()
      })
    });


  </script>

  </body>
  </html>
{% endblock %}
