{% extends "base.html" %}
{% load static %}

{#Update and include https://github.com/maplibre/martin#using-with-maplibre !!!#}

{% block content %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
          integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
          crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4.js"
          integrity="sha512-ha3Is9IgbEyIInSb+4S6IlEwpimz00N5J/dVLQFKhePkZ/HywIbxLeEu5w+hRjVBpbujTogNyT311tluwemy9w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.8/wicket.min.js"
          integrity="sha512-aaiN+QIXD0N9Id865vSDEfttZJV9v8ZGh7jXMnYI2zbZhkSYOulS4IH0u4pC61/KXT20UedYzL5xi5siIg6mlw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/leaflet-tilelayer-colorfilter.min.js' %}"></script>

  <div class="h-80 lg:h-96" id="map">
    {#    <div id="map"></div>#}
    {#    {% leaflet_map "yourmap" callback="window.map_init_basic" %}#}
  </div>




  <article class="prose-2xl text-center lg:text-left">
    <div class="container mx-auto py-4 px-4 w-full">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="grid grid-rows-2 grid-flow-col">
          <div class="text-center pb-2">Download the building data from EUBUCCO:</div>
          <div class="flex gap-4">
            <select class="select select-primary flex-none w-24">
              <option>v0.1</option>
            </select>
            <select id="countryDropdown" class="select select-primary flex-auto min-w-fit">
              <option disabled selected>Select Country</option>
            </select>
          </div>
        </div>

        <div class="grid grid-rows-2 grid-flow-col">
          <div class="text-center pb-2">Full file with geometries & attributes</div>
          <a id="downloadCountryLinkPKG" href="" class="btn btn-primary" disabled="disabled">Download GPKG</a>
        </div>

        <div class="grid grid-rows-2 grid-flow-col">
          <div class="text-center pb-2">Attributes without geometries</div>
          <a id="downloadCountryLinkCSV" href="" class="btn btn-primary" disabled="disabled">Download CSV</a>
        </div>
        {#        <h1>For more info</h1>#}

        {#        <a id="downloadCountryLinkPKG" href="" class="btn btn-primary" disabled="disabled">Download GPKG</a>#}
        {#        <a id="downloadCountryLinkCSV" href="" class="btn btn-primary" disabled="disabled">Download attributes-only#}
        {#          CSV</a>#}
      </div>
      <p class="text-center">For details about the license, API and metadata, refer to our <a class="link"
                                                                                              href="{% url 'docs' %}">Docs</a>.
        The data is also archived on the scientific repository <a class="link"
                                                                  href="https://doi.org/10.5281/zenodo.6524780">Zenodo</a>
      </p>

      {#      <div class="max-w-5xl">#}
      {#        <p>Download the building data from EUBUCCO v0.1 as:</p>#}
      {#        <ul class="list-disc">#}
      {#          <li>Geopackage - footprint geometries + building attributes</li>#}
      {#          <li>CSV - building attributes only (height, type, and age)</li>#}
      {#        </ul>#}
      {#        <a href="https://doi.org/10.5281/zenodo.6524780"><img#}
      {#                src="https://zenodo.org/badge/DOI/10.5281/zenodo.6524780.svg" alt="DOI"></a>#}
      {#      </div>#}
    </div>
    <div class="container mx-auto px-4 py-4 w-full">

      {#      <div class="grid lg:grid-cols-2 gap-8">#}
      {#        <div><h1>Info</h1>#}
      {#          <p>Here, you can download the data from EUBUCCO v0.1.</p>#}
      {##}
      {#          <p>You can select full country datasets using the dropdown menu. You can also get all countries and download#}
      {#            links#}
      {#            in a json if you want to download multiple files programmatically <a href="{{ countries_api_link }}"#}
      {#                                                                                 class="link">here</a>.</p>#}
      {##}
      {#          <p>You can select either to download the full data with attributes and building footprint geometries as a#}
      {#            .gpkg,#}
      {#            or#}
      {#            the attributes only as a .csv.#}
      {##}
      {#          <p>The coordinate reference system used for all geometries is EPSG:3035.</p>#}
      {##}
      {#          <p>You find additional information about the License and some small example data below.</p>#}
      {##}
      {#        </div>#}
      {#        <div><h1>License</h1>#}
      {#          <p>This database is composed of files under different licenses. The majority of the data (95+%) is licensed#}
      {#            under#}
      {#            Open#}
      {#            Data Commons Open Database License 1.0 (ODbL).#}
      {#          <p>Two datasets are available on this repository under different#}
      {#            licenses. Their license is added to their respective file names. One input dataset has a share-alike#}
      {#            requirement#}
      {#            but#}
      {#            which is not ODbL, namely Prague, licensed under CC-BY-SA. The file name is#}
      {#            v0_1-CZE_11-OTHER-LICENSE-CC-BY-SA.zip.</p>#}
      {#          <p>One input dataset had a non-commercial use requirement, namely Abruzzo, licensed under CC-BY-NC. The file#}
      {#            name#}
      {#            is#}
      {#            v0_1-ITA_1-OTHER-LICENSE-CC-BY-NC.zip.</p></div>#}
      {#      </div>#}
      {#      <div class="lg:hidden"><h1>Version</h1></div>#}
      {#      <p>Current version: v0.1 (release date: XXX)#}
      {#        Zenodo concept DOI: XXX#}
      {#        Zenodo version-specific DOI: XXX“</p>#}

      {#      </div>#}
      <h1 class="text-center pt-16">Examples</h1>

      <div class="container mx-auto px-4 py-4 w-full">
        <div class="overflow-x-auto">
          <table class="table lg:table-fixed table-zebra w-full">
            <!-- head -->
            <thead>
            <tr>
              <th>City</th>
              <th>GPKG</th>
              <th>CSV</th>
            </tr>
            </thead>
            <tbody>
            <!-- rows -->
            {% for example in examples %}
              <tr>
                <td>{{ example.city | capfirst }}</td>
                <td><a href="{{ example.gpkg_link }}" class="link">Download full gpkg
                  ({{ example.gpkg_size_in_mb |floatformat:1 }} Mb)</a></td>
                <td><a href="{{ example.csv_link }}" class="link">Download csv
                  ({{ example.csv_size_in_mb |floatformat:1 }}
                  Mb)</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="container mx-auto px-4 py-4 w-full">
          <h1 class="pt-20 text-center">Additional Files</h1>
        </div>
        <div class="overflow-x-auto">

          <table class="table lg:table-fixed table-zebra w-full ">
            <!-- head -->
            <thead>
            <tr>
              <th>Name</th>
              <th>Download</th>
              <th>Info</th>
            </tr>
            </thead>
            <tbody>
            <!-- rows -->
            {% for file in additional_files %}
              <tr>
                <td>{{ file.name }}</td>
                <td><a href="{{ file.download_link }}" class="link">Download file
                  ({{ file.size_in_mb |floatformat:2 }} Mb)</a></td>
                <td>{{ file.info }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>


  {#  <div class="container mx-auto px-4 py-4 w-full">#}
  {#    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">#}
  {#      {% for example in examples %}#}
  {#        <h1>{{ example }}</h1>#}
  {#        <a id="downloadCountryLink" href="" class="btn">Download csv</a>#}
  {#        <a id="downloadCountryLink" href="" class="btn">Download pkg</a>#}
  {#      {% endfor %}#}
  {#    </div>#}
  {#  </div>#}

  <script type="module">
    let countries;
    let selectedCountry;


    let API_URL = "{{ API_URL }}"

    let polygon = new Wkt.Wkt();
    var polylines = [];
    var polylineRenderer;
    var myDump;

    let mapFilter = [
      'invert:100%',
      'hue-rotate:180deg',
      'brightness:95%',
      'contrast:90%',
    ];


    var EPSG3857 = proj4.defs('EPSG:4326');
    "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0 +k=1.0 +units=m +nadgrids=@null +wktext  +no_defs";
    var EPSG3035 = "+proj=laea +lat_0=52 +lon_0=10 +x_0=4321000 +y_0=3210000 +ellps=GRS80 +units=m +no_defs";


    {#SETTING UP THE MAP#}
    var map = L.map('map').setView([50, 6], 4);
    {#choose a map from http://leaflet-extras.github.io/leaflet-providers/preview/#}
    {#https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}#}
    polylineRenderer = L.canvas({padding: 0.5});
    L.tileLayer.colorFilter('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap',
      filter: mapFilter,
    }).addTo(map);


    {#HELPER FUNCTIONS#}

    function convertCoordinates(polygon) {
      let convertedCoordinates = []
      let polygon_geojson = polygon.toJson()
      polygon_geojson.coordinates[0].forEach(function (item, index) {
        convertedCoordinates.push(proj4(EPSG3035, EPSG3857, item).reverse())
      });
      return convertedCoordinates
    }

    function resetMapPolygons() {
      polylines.forEach(function (polyline, index) {
        polyline.remove()
      })
      polylines = []
    }

    function updateMapPolygons(wkt_polygon_list, zoom, reset = true) {
      let latlang;

      if (reset) {
        resetMapPolygons()
      }
      wkt_polygon_list.forEach(function (wkt_polygon, index) {
        polygon.read(wkt_polygon)
        latlang = convertCoordinates(polygon)
        polylines.push(L.polyline(latlang, {renderer: polylineRenderer}).addTo(map));
      });
      if (latlang) {
        map.flyTo(latlang[0], zoom)
      }
    }

    {#UPDATE VIA API FUNCTIONS#}
    const updateCountries = async () => {
      const APIResponse = await fetch(`${API_URL}countries`);
      countries = await APIResponse.json();
      countries.sort((a, b) => a.name.localeCompare(b.name))
      countryDropdown.innerHTML = '<option disabled selected>Select Country</option>'
      Object.entries(countries).forEach(
        ([key, country]) => countryDropdown.innerHTML += `<option value=${country.id}> ${country.name}</option>`
      );
    };


    const onSelectCountry = async () => {
      selectedCountry = countries.filter(country => country.id === parseInt(countryDropdown.options[countryDropdown.selectedIndex].value))[0]
      if (selectedCountry.convex_hull !== null) {
        updateMapPolygons([selectedCountry.convex_hull], 4)
      } else {
        resetMapPolygons()
      }
      var download_link_csv = document.getElementById("downloadCountryLinkCSV");
      if (selectedCountry.csv === null) {
        download_link_csv.setAttribute("disabled", "disabled")
        download_link_csv.innerHTML = `Not available`
        download_link_csv.removeAttribute('href');
      } else {
        download_link_csv.setAttribute("href", selectedCountry.csv.download_link)
        download_link_csv.innerHTML = `Download attributes-only CSV (${Math.round(selectedCountry.csv.size_in_mb)} MB)`
        download_link_csv.removeAttribute('disabled');
      }

      var download_link_gpkg = document.getElementById("downloadCountryLinkPKG");
      if (selectedCountry.gpkg === null) {
        download_link_gpkg.setAttribute("disabled", "disabled")
        download_link_gpkg.innerHTML = `Not available`
        download_link_gpkg.removeAttribute('href');
      } else {
        download_link_gpkg.setAttribute("href", selectedCountry.gpkg.download_link)
        download_link_gpkg.innerHTML = `Download full GPKG (${Math.round(selectedCountry.gpkg.size_in_mb)} MB)`
        download_link_gpkg.removeAttribute('disabled');
      }
    }

    document.addEventListener("DOMContentLoaded", () => {
      document.getElementById('countryDropdown').addEventListener('change', onSelectCountry);
    });

    updateCountries()
  </script>
{% endblock %}
