<table class="table table-compact table-zebra w-full rounded-box text-sm">
  <thead>
    <tr><th>Name</th><th>Download</th><th>Info</th></tr>
  </thead>
  <tbody>
    {% for f in additional_files %}
      <tr>
        <td>{{ f.name }}</td>
        <td>
          <a href="{{ f.download_link }}" class="link">
            {% if f.size_in_mb >= 512 %}
              {% widthratio f.size_in_mb 1024 1 as size_in_gb %}
              {{ size_in_gb|floatformat:1 }} GB
            {% else %}
              {{ f.size_in_mb|floatformat:0 }} MB
            {% endif %}
          </a>
        </td>
        <td>{{ f.info }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
