{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="flex justify-center items-center h-[var(--content-height)]">
    <div class="grid max-w-5xl py-8 lg:grid-cols-2 gap-4">
      <article class="prose sm:prose-2xl">
        <h2>About</h2>
        <p>Potsdam-Institut für Klimafolgenforschung (PIK) e.V.<br>
          Telegrafenberg A 31<br>
          14473 Potsdam<br>
          email: nachtigall(at)tu-berlin.de</p>
      </article>
      <div class="place-self-center">
        <iframe
          class="hidden block sm:visible sm:inline"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.4013361235347!2d13.06327285!3d52.381274499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8f5966fb9462f%3A0xb7e9d470cb3893f8!2sPotsdam-Institut%20f%C3%BCr%20Klimafolgenforschung!5e0!3m2!1sde!2sde!4v1770730752900!5m2!1sde!2sde"
          width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>

        <iframe
          class="sm:hidden sm:block"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.4013361235347!2d13.06327285!3d52.381274499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8f5966fb9462f%3A0xb7e9d470cb3893f8!2sPotsdam-Institut%20f%C3%BCr%20Klimafolgenforschung!5e0!3m2!1sde!2sde!4v1770730752900!5m2!1sde!2sde"
          width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>


{% endblock content %}
