{% extends "base.html" %}
{% load static %}
{% block content %}
  <script>
    function CopyToClipboard(id) {
      var r = document.createRange();
      r.selectNode(document.getElementById(id));
      window.getSelection().removeAllRanges();
      window.getSelection().addRange(r);
      document.execCommand('copy');
      window.getSelection().removeAllRanges();
    }
  </script>
  <div class="hero min-h-screen" style="background-image: url({% static 'images/website_coolwarm.webp' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-7xl font-bold">EUBUCCO</h1>
        <p class="mb-5 text-2xl">European building stock characteristics in a common and open database for 200+ million
          individual
          buildings.</p>
        <a class="btn btn-primary" href="/data">Download the Data!</a>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center pb-4">
    <p class="text-xs justify-center text-slate-500 text-center">Building footprints in the city of Madrid, Spain.
      Available in EUBUCCO within the
      Spain country
      file and the
      Madrid example file. Data from the Spanish Directorate General for Cadastre.</p>
  </div>
  <div class="flex justify-center items-center px-4 text-center">
    <div class="flex container mx-auto pt-8 w-full justify-center max-w-5xl">
      <article class="prose sm:prose-2xl justify-center">
        <h1 class="text-center">What is this?</h1>
        <p>EUBUCCO is a scientific database of individual building footprints for 200+ million buildings across the 27
          European Union countries and Switzerland, together with three main attributes – building type, height and
          construction year – included for respectively 45%, 74%, 24% of the buildings. EUBUCCO is composed of 50 open
          government datasets and OpenStreetMap that have been collected, harmonized and partly validated.</p>
        <p>EUBUCCO provides the basis for high-resolution urban sustainability studies across scales – continental,
          comparative or local studies – using a centralized source and is relevant for a variety of use cases, e.g.
          for
          energy system analysis or natural hazard risk assessments.
        </p>

        <div class="divider"></div>
        <h2 class="text-center">How was this made?</h2>
        <p>This work is associated with a <a
          href="https://www.nature.com/articles/s41597-023-02040-2" class="link">Data Descriptor paper</a> currently
          under review with the journal Scientific Data.
          The manuscript provides extensive documentation on the database content and methodology.

          All the code used to generate this data is openly available on the Github repository of the project: <a
            href="https://github.com/ai4up/eubucco" class="link">https://github.com/ai4up/eubucco</a></p>
        <p>If you re-use the data for your project, please use the following citation: <br> Milojevic-Dupont, N. and
          Wagner,
          F. et al. EUBUCCO v0.1: European building stock characteristics in a common and open database for 200+ million
          individual buildings. Sci Data 10, 147 (2023). https://doi.org/10.1038/s41597-023-02040-2</p>
        <div class="px-1">
          Bibtex
        </div>
        <div class="relative">
          <div class="tooltip tooltip-left absolute top-0 right-0" data-tip="copy">
            <button class="btn btn-square btn-ghost" onclick="CopyToClipboard('bibtex');return false;">
              <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path
                  d="M 16 3 C 14.742188 3 13.847656 3.890625 13.40625 5 L 6 5 L 6 28 L 26 28 L 26 5 L 18.59375 5 C 18.152344 3.890625 17.257813 3 16 3 Z M 16 5 C 16.554688 5 17 5.445313 17 6 L 17 7 L 20 7 L 20 9 L 12 9 L 12 7 L 15 7 L 15 6 C 15 5.445313 15.445313 5 16 5 Z M 8 7 L 10 7 L 10 11 L 22 11 L 22 7 L 24 7 L 24 26 L 8 26 Z"></path>
              </svg>
            </button>

          </div>
          <textarea id="bibtex" readonly wrap="off" rows="10"
                    class="textarea resize-none text-left leading-normal w-full h-50 bg-base-200 font-mono">
@article{eubucco_2023,
	title        = {EUBUCCO v0.1: European building stock characteristics in a common and open database for 200+ million individual buildings},
	author       = {‎{Milojevic-Dupont, Nikola and Wagner, Felix} and Nachtigall, Florian and Hu, Jiawei and Br{\"u}ser, Geza Boi and Zumwald, Marius and Biljecki, Filip and Heeren, Niko and Kaack, Lynn H. and Pichler, Peter-Paul and Creutzig, Felix},
	year         = 2023,
	journal      = {Scientific Data},
	volume       = 10,
	number       = 1,
	pages        = 147,
	doi          = {10.1038/s41597-023-02040-2}
}</textarea>
        </div>


        <div class="divider"></div>

        <h2 class="text-center">People</h2>
        <p>This project is hosted at the Mercator Research Institute of Global Commons and Climate Change and the
          Technical University Berlin, in the research group headed by Prof. Dr. Felix Creutzig.
          The development of the current version was led by Nikola Milojevic-Dupont and Felix Wagner, joined by Florian
          Nachtigall for the upcoming version, and supported by team from various partners. The website is developed by
          Geza Brüser.
        </p>
        <div class="divider"></div>
        <h2 class="text-center">Funding</h2>
        <p>The project is funded by the Climate Change Center Berlin Brandenburg, and CircEUlar project of the European
          Union’s Horizon Europe research and innovation program under grant agreement 101056810.</p>
        <div class="divider"></div>
        <h2 class="text-center">Contact</h2>
        <p>For any question or suggestion, please write to info (at) eubucco.com.
        </p>
      </article>
    </div>
  </div>
{% endblock content %}
