{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="hero min-h-screen" style="background-image: url({% static 'images/website_coolwarm.webp' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">EUBUCCO</h1>
        <p class="mb-5">European building stock characteristics in a common and open database for 202 million individual
          buildings.</p>
        <a class="btn btn-primary" href="/data/map#14.87/38.71016/-9.13803">Explore the Data!</a>
      </div>
    </div>
  </div>


  <div class="container mx-auto px-4 w-full">
    <article class="prose-xl">
      <div class="divider"></div>
      <h2>What is this?</h2>
      <p>EUBUCCO is a scientific database of individual building footprints for 206 million buildings across the 27
        European Union countries and Switzerland, together with three main attributes – building type, height and
        construction year – included for respectively 45%, 74%, 24% of the buildings. EUBUCCO is composed of 50 open
        government datasets and OpenStreetMap that have been collected, harmonized and partly validated.</p>
      <p>EUBUCCO provides the basis for high-resolution urban sustainability studies across scales -- continental,
        comparative or local studies -- using a centralized source and is relevant for a variety of use cases, e.g. for
        energy system analysis or natural hazard risk assessments.
      </p>
      <div class="divider"></div>
      <h2>The data</h2>
      <p>
        You can download the data as individual countries on the download page. You can select either to download the
        attributes and building footprint geometries as a .gpkg, or the attributes only as a .csv.
      </p>
      <div class="divider"></div>
      <h2>How was this made?</h2>
      <p>This work is associated with a Data Descriptor paper currently under review with the journal Scientific Data.
        The manuscript provides extensive documentation on the database content and methodology.

        All the code used to generate this data is openly available on the Github repository of the project: <a
                href="https://github.com/ai4up/eubucco" class="link">https://github.com/ai4up/eubucco</a></p>
      <div class="divider"></div>
      <h2>Version</h2>
      <p>The database is currently available under its beta version (v0.1). The first stable
        version (v1.0) is in the making.</p>
      <p>This website is under development and new features will be added in the coming months.</p>
      <div class="divider"></div>
      <h2>People</h2>
      <p>This project is hosted at the Mercator Research Institute of Global Commons and Climate Change and the
        Technical University Berlin, with multiple partners. The project is led by Nikola Milojevic-Dupont and Felix
        Wagner for the current version, together with Florian Nachtigall for the upcoming version. The website is
        developed by Geza Brüser.
      </p>

      <div class="divider"></div>
      <h2>Contact</h2>
      <p>For any question or suggestion, please write to info@eubucco.com.
      </p>
    </article>
  </div>
{% endblock content %}
