{% extends "base.html" %}
{% load static %}
{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"
          integrity="sha512-tqaIiFJopq4lTBmFlWF0MNzzTpDsHyug8tJaaY0VkcH5AR2ANMJlcD+3fIL+RQ4JU3K6edt9OoySKfCCyKgkng=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <iframe src="/web/viewer.html?file={% static 'docs/EUBUCCO-v01.pdf' %}"></iframe>
{#  <object#}
{#          data="{% static 'docs/EUBUCCO-v01.pdf' %}"#}
{#          type="application/pdf"#}
{#          aria-labelledby="PDF document"#}
{#          class="w-full h-full"#}
{#  >#}
{#    <iframe class="w-full h-full" src="{% static 'docs/EUBUCCO-v01.pdf' %}" allowfullscreen>#}
{#      <p>#}
{#        Your browser does not support PDFs.#}
{#        <a href="{% static 'docs/EUBUCCO-v01.pdf' %}">Download the PDF</a>#}
{#      </p>#}
{#    </iframe>#}
{#  </object>#}

{% endblock content %}
