{% extends "base.html" %}
{% load static %}
{% block content %}
  <div id="pdf_viewer" class="flex items-center justify-center h-[var(--content-height)]">
    <a class="btn btn-primary" href="{% static 'docs/EUBUCCO-v01.pdf' %}">View Paper</a>
  </div>


  <script>
    function iOS() {
      return [
          'iPad Simulator',
          'iPhone Simulator',
          'iPod Simulator',
          'iPad',
          'iPhone',
          'iPod'
        ].includes(navigator.platform)
        // iPad on iOS 13 detection
        || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
    }

    pdfViewerDiv = document.getElementById("pdf_viewer");

    if (!iOS()) {
      pdfViewerDiv.className = '';
      pdfViewerDiv.innerHTML = `  <object
      data="{% static 'docs/EUBUCCO-v01.pdf' %}"
      type="application/pdf"
      aria-labelledby="PDF document"
      class="w-full h-[calc(100vh-116px)]"
    >
      <iframe class="w-full" src="{% static 'docs/EUBUCCO-v01.pdf' %}" allowfullscreen>
        <p>
          Your browser does not support PDFs.
          <a href="{% static 'docs/EUBUCCO-v01.pdf' %}">Download the PDF</a>
        </p>
      </iframe>
    </object>`
    }


  </script>
{% endblock content %}
